body{
background:#f4f7fb;
font-family:Poppins,sans-serif;
padding:30px;
}

#profile{

background:white;

padding:25px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

margin-bottom:30px;

}

.task-card{

background:white;

padding:20px;

margin-bottom:20px;

border-radius:15px;

box-shadow:
0 5px 15px rgba(0,0,0,.1);

}

.task-card h3{

color:#4A90E2;

margin-bottom:10px;

}

.pending{

display:inline-block;

padding:8px 14px;

border-radius:20px;

background:#fff4d6;

color:#ff9800;

font-weight:600;

}

.completed{

display:inline-block;

padding:8px 14px;

border-radius:20px;

background:#d4edda;

color:#28a745;

font-weight:600;

}

.task-card button{

margin-top:15px;

padding:10px 15px;

border:none;

border-radius:10px;

background:#4A90E2;

color:white;

cursor:pointer;

}

#logoutBtn,
#employeeLogout{

padding:10px 20px;

border:none;

border-radius:10px;

cursor:pointer;

background:#ff4d4d;

color:white;

font-weight:600;

}